* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    user-select: none;
}

header {
    position: relative;
    width: 100%;
    height: 60px;
    background-color: black;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 30px;
}

header .hamburger {
    position: absolute;
    left: 30px;
    top: 23px;
    display: none;
    cursor: pointer;
}
header .hamburger .line {
    width: 22px;
    height: 2px;
    border-radius: 2px;
    background-color: white;
    position: absolute;
    cursor: pointer;
}
header .hamburger .line:nth-child(1) {
    top: 0px;
}
header .hamburger .line:nth-child(2) {
    top: 7px;
}
header .hamburger .line:nth-child(3) {
    top: 14px;
}

header .header-title {
    font: 700 32px Roboto, sans-serif;
    color: white;
    letter-spacing: 5px;
}

header .menu {
    position: absolute;
    left: 0;
    top: 60px;
    background-color: black;

    width: fit-content;
    height: fit-content;
    padding: 10px 30px
}

header .menu li {
    font: 16px Roboto, sans-serif;
    color: white;
    line-height: 32px;
    list-style: none;
}

main {
    width: 100%;
    min-height: calc(100vh - 160px);
    background-color: white;

    padding: 30px 30px;

    font: 16px Roboto, sans-serif;
    color: black;
    display: flex;
}

main .main-content {
    width: 100%;
    height: 100%;
    padding: 0 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

main .news {
    width: 150px;
    height: 100%;
    border: yellow;
    padding: 0 10px;

    border-left: 1px solid black;
}

main img {
    width: 30vw;
    border-radius: 5px;
}

main .headline,
main .article,
main .news p {
    margin-top: 30px;
}

main .article p {
    margin-top: 20px;
}

footer {
    margin-top: auto;
    width: 100%;
    height: 100px;
    background-color: red;
}

@media only screen and (max-width: 1024px) {
    header {
        justify-content: center;
    }

    header .hamburger {
        display: block;
    }

    header img {
        display: none;
    }

    header .menu {
        display: none;
    }
}